body{
	background-color: black;
}
section{
	position: absolute;
	top: -7px;
	left: 0px;
	width: 30px;
}
div{
	width: 27px;
	height: 27px;
	border-radius: 27px;
	display: inline-block;
	float: left;
	border: 2px white solid;
	margin-top: 7px;
}
img{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 35px;


}
div:hover{
	border: 2px solid rgba(0,0,0,0);
	background-image: url("social_share3.png");
	background-size: 35px;
	background-position: -2px -2px;
}
.twitter:hover{
	background-position: -2px -40px;
}
}
.tumblr:hover{
	background-position: -2px -78px;
}
.pinterest:hover{
	background-position: -2px -116px;
}
.mail:hover{
	background-position: -2px -154px;
}

