body{
  height: 300px;
}
input{
  width: 300px;
  height: 42px;
  font-size: 20px;
  border: 2px solid black;
}
#prompt{
  position: absolute;
  top: 0px;
}
#answer{
  visibility: hidden;
  position: absolute;
  top: 0px;
  display: none;
}
button{
  height: 48px;
  width: 306px;
  background-color: #3399ff;
  font-size: 20px;
  color: white;
  padding: 0px 20px;
  border: none;
}
.paper, .paper2, .paper3{
  width: 20%;
  float: left;
}

img{
  width: 100%
}
.container{
  left: 0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  position: absolute;
}
.roof{
  left: 0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  width: 320px;
  margin-top: 50px;
}
.bulb{
  width: 20%;
  float: left;
}
.bulb img{
  opacity: .5;
}

h1{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 27px;
  line-height: 1.5;
}
h2{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}
p{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.5;
}
#warning{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #c1272d;
}
h3{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 2.625rem;
  line-height: 3.25rem;
  margin-left: 10px;
}
.pullquote{
  width: 100%;
  height: 250px;
}
.canvas{
  left: 0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  width: 320px;
  margin-top: 50px;
}

#popup{
  background-color: rgba(0,0,0,.5);
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  border-radius: 20px;
  visibility: visible;
}
h5{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  color: white
}
#numeros{
 position: absolute;
 width: 320px;
 margin-top: 40px;
 margin-left: auto;
 margin-right: auto;
 left: 0;
 top: 0;
}
#numeros div {
  width: 20%;
  height: 85px;
  text-align: center;
  float: left;
  font-family: sans-serif;
  font-size: 10px;
  font-weight: bold;
}